body {
    font-family: "Inter";
    background-color: hsl(0, 0%, 8%);


}

.card {


    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    

}

.container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    border-radius: 10px;



}

@media(max-width: 480px) {
    .container {
        width: 90%; /* تقريباً كامل عرض الهاتف */
        padding: 15px;}
    }

.profile-picture {
    width: 100px;
    border-radius: 50%;
    margin-top: 35px;
    margin-bottom: 15px;

}

.name {
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-bottom: 12px;
}

.location {
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    font-size: 17px;
    margin-bottom: 25px;
}

.job-description {
    color: white;
    font-size: 15px;
    margin-bottom: 25px;
}

.social-media-links {
    display: flex;
    flex-direction: column;
    gap: 20px;


}

button {
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 10px 80px;
    
    cursor: pointer;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    transition: backgorund-color 0.5s;
}

.instagram {
    margin-bottom: 30px;
}